html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #000000, #000000 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}